@media (max-width: 992px) {
  .px-3 {
    padding: 5px 0px !important;
  }
  .navbar-nav {
    gap: 5px;
  }
  .ms-auto {
    margin-left: 0!important;
}
.navbar-collapse.show {
  left: 0;
}
.navbar-collapse {
  position: fixed;
  top: 20px;
  left: -380px;
  width: 380px;
  height: 100%;
  display: flex;
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 1;
  color: #000;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 52px 20px;
  flex-direction: column;
}
}
@media (max-width: 599px) {
  .container-fluid {
    padding: 20px 20px;
  }
  .navbar-brand {
    font-size: 17px;
    font-weight: 600;
  }
  .navbar-collapse {
    left: -45%;
    width: 45%;
  }
  #cityBtn {
    font-size: 13px;
    padding: 2px 5px;
    font-weight: 600;
  }
  .weather-box {
    width: 99%;
    padding: 30px 0px;
  }
  .weather-container {
    width: 100%;
    flex-direction: column-reverse;
    text-align: center;
    padding: 30px 0px;
  }
  .child-two {
    width: 250px;
    margin: 0px auto 50px auto;
  }
  .child-one {
    margin: auto;
  }
  .d-flex {
    width: 90%;
  }
}

@media (min-width: 600px) and (max-width: 718px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 25px;
  }
  .weather-box {
    width: 99%;
  }
  .weather-container {
    width: fit-content;
  }
  .child-one {
    width: 280px !important;
  }
  .navbar-collapse {
    left: -42%;
    width: 42%;
  }
}
